<li><a href="https://twitter.com/jnchito/"><i class="fa fa-twitter"></i></a></li>
<li><a href="http://blog.jnito.com/"><i class="fa fa-pencil"></i></a></li>
<li><a href="https://qiita.com/jnchito"><i class="qi-ico qi-ico-qiita"></i></a></li>
<li><a href="https://github.com/SonicGarden"><i class="fa fa-github"></i></a></li>
<li><a href="https://www.facebook.com/junichi.ito.717"><i class="fa fa-facebook"></i></a></li>
<li><a href="https://www.instagram.com/junichi__ito/"><i class="fa fa-instagram"></i></a></li>
<li><a href="https://www.linkedin.com/in/junichi-ito/"><i class="fa fa-linkedin"></i></a></li>
