<!-- Header
================================================== -->
<header id="home">

  <div class="row banner">
    <div class="banner-text">
      <h1 class="responsive-headline">I'm Junichi Ito.</h1>
      <h3><span>Programmer, blogger, musician.</span></h3>
      <hr />
      <ul class="social">
        <%= render 'home/social_links' %>
      </ul>
    </div>
  </div>

</header> <!-- Header End -->


<!-- About Section
================================================== -->
<section id="about">

  <div class="row">

    <div class="three columns">

      <%= image_tag gravatar_url, alt: 'Junichi Ito', class: 'profile-pic' %>

    </div>

    <div class="nine columns main-col">

      <h2>About Me</h2>

      <p>Ruby programmer at SonicGarden, Inc.</p>

      <div class="row">

        <div class="columns contact-details">

          <h2>Contact Details</h2>
          <p class="address">
            <span>Junichi Ito</span><br>
            <span>Nishiwaki-city, Hyogo, Japan</span><br>
          </p>

        </div>

      </div> <!-- end row -->

    </div> <!-- end .main-col -->

  </div>

</section> <!-- About Section End-->

<!-- footer
================================================== -->
<footer>

  <div class="row">

    <div class="twelve columns">

      <ul class="social-links">
        <%= render 'home/social_links' %>
      </ul>

      <ul class="copyright">
        <li>&copy; Copyright 2017 Junichi Ito</li>
      </ul>

    </div>

  </div>

</footer> <!-- Footer End-->

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
