<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Junichi Ito's portaol site.">
    <meta name="author" content="Junichi Ito">
    <title>JnitoPortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'header', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons
   ================================================== -->
    <link rel="shortcut icon" href="favicon.png" >
  </head>

  <body>
    <%= yield %>
  </body>
</html>
